
    <div>
       <div class="footer">

        <ul>
         
          
            <li><a>Become a seller</a></li>
            <li><a>Polices</a></li>
            <li><a>Terms and Conditions</a></li>
            <li><a>Help Center</a></li>
            <li><a>News</a></li>
            <li><a>Facebook</a></li>
            <li><a>Youtube</a></li>
            <li><a>Saemap</a></li>
            <li><a>FAQ</a></li>

           
        </ul>

        <div class="footer-sub">
            @2023 E-Commerce web Project
        </div>

    </div>
       
    </div>