<div class="my-orders">
    <h1>My Orders</h1>
    
    <div class="row">
        <div class="col-sm-2">
            <h3><span>Orders</span></h3>
        </div>
        <div class="col-sm-2">
           <h3><span>Order Id</span></h3>
        </div>
        <div class="col-sm-2">
           <h3> <span>Price</span></h3>
        </div>
        <div class="col-sm-2">
           <h3> <span>Status</span></h3>
        </div>
        <div class="col-sm-2">
           <h4> <span>Cancel Order</span></h4>
        </div>
    </div>



    <div class="row order-data" *ngFor="let order of orderData" >
        <div class="col-sm-2">
            <img class="order-img" src="https://cdn.iconscout.com/icon/premium/png-256-thumb/complete-order-2914848-2412925.png">
        </div>
        <div class="col-sm-2">
            <span>{{order.id}}</span>
        </div>
        <div class="col-sm-2">
            <span>{{order.totalPrice}}</span>
        </div>
        <div class="col-sm-2">
            <span>In Progress</span>
        </div>
        <div class="col-sm-2"> 
            <button class="form-button" (click)="cancelOrder(order.id)">CancelOrder</button>
        </div>
    </div>




</div>